.dialog {
    :global(.MuiDialog-paper) {
        margin: 8px;
        max-height: calc(100% - 16px);

        @media (min-width: 600px) {
            margin: 16px;
            max-height: calc(100% - 64px);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;
}

.patientRow {
    display: flex;
    gap: 16px;
}

.patientField {
    flex: 1;
}

.selectRow {
    display: flex;
    gap: 16px;
}

.selectField {
    flex: 1;
}

.contentLabel {
    margin-top: 16px;
    margin-bottom: 8px;
}

.editorContainer {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    min-height: 400px;

    :global(.tox .tox-editor-header) {
        border: none !important;
    }
}